body {
    background-color: black;
}

h1 {
    padding-top: 50px;
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.butt {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.butt a {
    padding: 10px 40px;
}

.content {
    /*width: 50%;*/
    margin: auto;
}

.cell1 {
    width: 400px;
}

.cell2 {
    width: 250px;
}

.cell3 {
    width: 350px;
}

.cell4 {
    width: 350px;
}

.cell {
    width: 300px;
}

.info {
    vertical-align: top;
}

.objects {
    min-width: 15%;
    padding: 10px;
    /*grid-column: 2;*/
    /*grid-row: 1;*/
}

.images {
    min-width: 20%;
    padding: 10px;

    /*grid-column: 3;*/
    /*grid-row: 1;*/
}

.images img{
    max-height: 500px;
    max-width: 300px;
}

.details {
    min-width: 15%;
    padding: 10px;
    /*grid-column: 4;*/
    /*grid-row: 1;*/
    /*justify-items: left;*/
}

.details p {

}

.details p span{
    color: white;
}

.list5a {
    padding:0;
    list-style: none;
}
.list5a li {
    position: relative;
    padding: 5px 10px;
    margin-bottom: 5px;
    text-align:left;
    background-size: 100% 100%;
    z-index: 1;
}
.list5a li:before {
    content: "";
    position:absolute;
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, #606060 0%, #606060, #606060);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
.list5a li:hover:before {
    width: 100%;
    opacity: 1;
}

.list5a a {
    color: #fff;
    text-decoration: none;
    user-select: none;
    outline: none;
}